<div>
    <mat-form-field>
      <input matInput type="text" (keyup)="filter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="Application Name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.applicationName}} </td>
    </ng-container>

    <ng-container matColumnDef="Scheduled Start Time">
        <th mat-header-cell *matHeaderCellDef> Scheduled Start Time </th>
        <td mat-cell *matCellDef="let element"> {{element.scheduledStartTime | date}} </td>
    </ng-container>

    <ng-container matColumnDef="Scheduled End Time">
        <th mat-header-cell *matHeaderCellDef> Scheduled End Time </th>
        <td mat-cell *matCellDef="let element"> {{element.scheduledEndTime | date }} </td>
    </ng-container>

    <ng-container matColumnDef="Actual Start Time">
        <th mat-header-cell *matHeaderCellDef> Actual Start Time </th>
        <td mat-cell *matCellDef="let element"> {{element.actualStartTime | date}} </td>
    </ng-container>

    <ng-container matColumnDef="Actual End Time">
        <th mat-header-cell *matHeaderCellDef> Actual End Time </th>
        <td mat-cell *matCellDef="let element"> {{element.actualEndTime | date }} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>